/****************************************************elements*****************************************************************/
body{
     color: #40515e;
     margin-top: 0px;
     margin-left: 0px;
     margin-right: 0px;
     text-align: center;
     font-family: 'merriweather',serif;
     }
h1{
   margin: 50px auto 0 auto;
   font-family: 'sacramento',cursive;
   font-size: 5.625rem;
   color: #66BFBF;
   }
h2{
   margin: 0 auto auto auto;
   font-family: 'montserrat',sans-serif;
   font-size: 2.5rem;
   color: #66BFBF;
   font-weight: normal;
   padding-bottom: 10px;
  }
h3{
   font-family: 'montserrat',sans-serif;
   color: #11999E;
  }
a{
  color: #11999E;
  font-family: 'montserrat',sans-serif;
  margin: 10px 20px;
  text-decoration: none;
 }
a:hover{
        color: #eaf6f6;
}
p{
        line-height: 2;

}
hr{
        border-style:none;
        border-top-style: dotted;
        border-width: 6px;
        border-color: #eaf6f6;
        height:0px;
        width: 4%;
        margin: 100px auto;
}

/****************************************************classes******************************************************************/
.top{
     background-color:  #E4F9F5;
     padding: 100px;
     position: relative;
    }
.middle{
        margin: 100px 0;
       }
.bottom{
        background-color: #66BFBF;
        padding: 50px 0 20px;
        margin-bottom:0;
       }
.cloud1{
        position: absolute;
        right: 300px;
        top: 40px;
       }
.cloud2{
        position: absolute;
        left: 250px;
        bottom: 300px;
       }
.intro{
        width: 30%;
        margin: auto;
}
.skill-row{
           width: 50%;
           margin: 100px auto 100px;
           text-align: left;
          }
.skill1{
        width: 25%;
        height: 131px;
        float: left;
        margin-right: 30px;
       }
.skill2{
        width: 25%;
        float: right;
        margin-left: 30px;
       }
.get{
        width: 40%;
        margin: auto;
}
.mirnal{
        width: 33%;
        margin: auto;
}
.contact-message{
        width: 40%;
        margin: 40px auto 40px;
}
.copyright-message{
        color: #eaf6f6;
        font-size: 0.75rem;
        padding: 20px 0;
}
.btn {
        background: #11cdd4;
        background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
        background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
        background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
        background-image: -o-linear-gradient(top, #11cdd4, #11999e);
        background-image: linear-gradient(to bottom, #11cdd4, #11999e);
        -webkit-border-radius: 8;
        -moz-border-radius: 8;
        border-radius: 8px;
        font-family: Arial;
        color: #ffffff;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
      }
      
.btn:hover {
        background: #30e3cb;
        background-image: -webkit-linear-gradient(top, #30e3cb,  #2bc4ad);
        background-image: -moz-linear-gradient(top, #30e3cb,  #2bc4ad);
        background-image: -ms-linear-gradient(top, #30e3cb,  #2bc4ad);
        background-image: -o-linear-gradient(top, #30e3cb,  #2bc4ad);
        background-image: linear-gradient(to bottom, #30e3cb,  #2bc4ad);
        text-decoration: none;
      }
